.footer {
    background-color: $color-brand-grey-900;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    position: relative;
    .wrap {
        display: grid;
        grid-template-rows: repeat(2,auto);
        grid-gap: 2.5rem;
        @media screen and (min-width: 60em) {
            grid-template-rows: repeat(1,auto);
            grid-template-columns: repeat(2,auto);
            justify-content: space-between;
            align-items: center;
            grid-gap: 0;
        }
    }
    .copyright {
        color: $color-brand-white;
        font-size: 1rem;
        @media screen and (min-width: 60em) {
            display: grid;
            grid-template-columns: repeat(2,auto);
            align-items: center;
            grid-gap: 1rem;
        }
        svg {
            width: auto;
            height: 3.5rem;
            margin-bottom: 1rem;
            @media screen and (min-width: 60em) {
                margin-bottom: 0;
            }
            .logo-bg {
                fill: $color-brand-grey-800 !important;
            }
            .logo-fg {
                fill: $color-brand-grey-100 !important;
            }
        }
        p {
            margin-bottom: 0;
            color: $color-brand-grey-100;
        }
    }
}

.top-link {
    position: absolute;
    top: -4rem;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    @media screen and (min-width: 60em){
        top: -5rem;
        left: auto;
        right: 5rem;
        transform: translateX(0);
    }
    a {
        @extend .tag;
        margin-top: .5rem;
        text-decoration: none;
        border-color: $color-brand-gold;
        background-color: $color-brand-gold;
        color: $color-brand-white;
    }
}