.page-splash {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $color-brand-blue;
    color: $color-brand-grey-100;
    main {
        text-align: center;
    }
    p {
        @media screen and (min-width: 30em){
            font-size: 1.25rem;
        }
        span {
            display: block;
        }
    }
    svg {
        width: 7.5rem;
        height: 7.5rem;
        @media screen and (min-width: 30em){
            width: 10rem;
            height: 10rem;
        }
        .logo-fg {
            fill: $color-brand-white;
        }
        .logo-bg {
            fill: $color-brand-gold;
        }
    }
    .social-media ul {
        margin-top: 3rem;
        justify-content: center !important;
        img {
            opacity: .4;
            transition: opacity .4s;
        }
        a:hover {
            img {
                opacity: .8;
            }

        }
    }
}

