$color-brand-gold: #DEB841;
$color-brand-blue: #315659;
//$color-brand-black: #313130;
$color-brand-black: #484643;
$color-brand-grey-900: #302E2D;
$color-brand-grey-800: #484643;
$color-brand-grey-200: #BFBAB3;
$color-brand-grey-100: #ECECEC;
$color-brand-white: #fff;

$color-page-vrb-primary: #cecbc4;
$color-page-vrb-secondary: #606675;
$color-page-vrb-secondary-dark: #4D525E;

$color-page-ar-primary: #C1DBE3;
$color-page-ar-secondary: #337572;
$color-page-ar-secondary-dark: #295E5B;

$color-page-jpf-primary: #EBEBEB;
$color-page-jpf-secondary: #475B5A;
$color-page-jpf-secondary-dark: #394948;

$color-page-studioc-primary: #C3DFE0;
$color-page-studioc-secondary: #35605a;
$color-page-studioc-secondary-dark: #2a4d48;

$color-page-stacykarzen-primary: #b8c4bb;
$color-page-stacykarzen-secondary: #546d64;
$color-page-stacykarzen-secondary-dark: #435750;

$type-sans-reg: halyard-text,sans-serif;
$type-sans-display: halyard-display,sans-serif;
$type-sans-micro: halyard-micro,sans-serif;
$type-serif-black: utopia-std-headline,serif;